@font-face{

src: url(../Font/vij.ttf);
font-family: vij;
}
@font-face{

src: url(../Font/PT_sans.ttf);
font-family: PT_sans;
}
/* Navbar */

	.bgcolornav{
		 	background-color: #606060;

		}

		.login{
				background-color: rgb(9, 199, 182);
						color: rgb(10, 10, 10) ;
				font-size: 25px !important;
		}
		login .btn{
			height:50px;
			width: 1349px;
		}


	/*0000000000000000000*/


	html{
	margin-top: 0px;
}

body{
	font-family: PT_sans;
}

 .carousel-item img{
	height: 500px;
	 width:100%;
	 max-width:100%;
	max-height: 100%;


	}
	.carousel-caption h3,.carousel-caption p{
		color: #dbd227;

	}
	.bgcolor{
		background-color: #FBBC05 ;
	}
	.bgnavcolor{
		background-color: #000 ;
		opacity: 0.5 !important;
	}
	.nav-link{
		color: #fff !important;
		font-size: 130% ;

	}
	.nav-link:hover{
		text-decoration: underline ;
		font-size: 130% ;
		font-family: vij;
	}
	.jumbotronmargin{
		margin-bottom: 0px;
	}
	.top-left{
		float: left;
	}
	.top-right{
		float: right;
	}

.clearfix{
	clear: both;
}
.footer{background-color: #0d0d0d;
	color:#F8F8FF;
	padding: 10px 5px;
}
